#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.flashcard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  cursor: pointer;
  user-select: none;

  transition: 0.5s;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(var(--rotate, 0));
}

.flashcard .front,
.flashcard .back {
  position: absolute;
  backface-visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.flashcard.flipped {
  --rotate: 180deg;
}

.front {
  transform: rotateX(0deg);
}

.back {
  transform: rotateX(180deg);
}

.flashcard:active{
  background-color: var(--color-accent);
}

.button{
  cursor: pointer;
  user-select: none;
  color: var(--color-text);
  background-color: white;
  border: none;
}

.button:hover{
  background-color: var(--color-secondary);
}

.button:active{
  background-color: var(--color-accent);
}

.border{
  border-width: 4px;
  border-radius: var(--radius-xl);
  border-color: var(--color-primary);
  border-style: solid ;
}